/qmclient/client/ciphercode
/qmclient/frameworks/runtime-src/proj.android/bin
/qmclient/frameworks/runtime-src/proj.android/obj
/qmclient/frameworks/runtime-src/proj.android/.idea/
/qmclient/frameworks/runtime-src/proj.android/assets/
/qmclient/frameworks/cocos2d-x/cocos/platform/android/java/bin/Classes/
/qmclient/frameworks/cocos2d-x/cocos/platform/android/java/bin/
/qmclient/client/.vscode
/qmclient/frameworks/cocos2d-x/cocos/platform/android/java/gen/
**/*.class
*.class
/qmclient/publish/android/*.apk
/Server/系统模块/ipch/gamematchserver-74464914/*.ipch
/Server/系统模块/**/*.ipch/
/Server/中间目录/共享库存服务/Release_Unicode
/Server/中间目录/内核引擎/Release_Unicode/
/qmclient/client/face
/qmclient/client/log
/qmclient/client/UserDefault.xml
/Server/系统模块/游戏组件/六人三公/*.sdf
/Server/系统模块/*.sdf
/Server/系统模块/游戏组件/房卡场_字牌_柳州大字牌/*.db
**/*.VC.db
**/*.ipch
**/*.pch
/qmclient/client/download
/client/frameworks/runtime-src/proj.android/assets
/server/游戏组件/藏宝库子游戏/金鲨银鲨_金币场/*.sdf
/client/client/face
/client/client/log
/client/client/download
/client/frameworks/cocos2d-x/cocos/2d/Debug.win32/libcocos2d.tlog/*.tlog
