<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani_MJ_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{165,59},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani_MJ_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{165,1},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani_MJ_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{169,113},{54,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ani_MJ_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{99,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani_MJ_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{115,113},{64,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ani_MJ_TSJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani_Xiong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{1,99},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ani.png</string>
            <key>size</key>
            <string>{230,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98dbd167af1fe540cc08261153211bcf:ecdb51c23f1163f38c64307c04db9449:a947db1362542e41d3137fb39c68eb0d$</string>
            <key>textureFileName</key>
            <string>ani.png</string>
        </dict>
    </dict>
</plist>
