<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,1850},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>help_sp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1054,624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1054,624}}</string>
                <key>sourceSize</key>
                <string>{1054,624}</string>
            </dict>
            <key>help_sp_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,628},{984,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{984,92}}</string>
                <key>sourceSize</key>
                <string>{984,92}</string>
            </dict>
            <key>identify_sp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{1184,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1184,411}}</string>
                <key>sourceSize</key>
                <string>{1184,411}</string>
            </dict>
            <key>identify_sp_editbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1614},{355,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,56}}</string>
                <key>sourceSize</key>
                <string>{355,56}</string>
            </dict>
            <key>identify_sp_figure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1659},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>logon_btn_notice_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,628},{1008,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1008,37}}</string>
                <key>sourceSize</key>
                <string>{1008,37}</string>
            </dict>
            <key>logon_btn_notice_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1997},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>logon_btn_service_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,826},{94,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>logon_btn_service_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,1306},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>logon_btn_wechat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1662},{314,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,117}}</string>
                <key>sourceSize</key>
                <string>{314,117}</string>
            </dict>
            <key>logon_btn_wechat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{314,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,117}}</string>
                <key>sourceSize</key>
                <string>{314,117}</string>
            </dict>
            <key>logon_sp_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1638},{1054,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1054,19}}</string>
                <key>sourceSize</key>
                <string>{1054,19}</string>
            </dict>
            <key>logon_sp_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,628},{1064,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1064,29}}</string>
                <key>sourceSize</key>
                <string>{1064,29}</string>
            </dict>
            <key>logon_sp_bar_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1781},{187,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,58}}</string>
                <key>sourceSize</key>
                <string>{187,58}</string>
            </dict>
            <key>logon_sp_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1659},{698,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,25}}</string>
                <key>sourceSize</key>
                <string>{698,25}</string>
            </dict>
            <key>logon_sp_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1707},{746,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{746,297}}</string>
                <key>sourceSize</key>
                <string>{746,297}</string>
            </dict>
            <key>logon_sp_logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1614},{248,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,28}}</string>
                <key>sourceSize</key>
                <string>{248,28}</string>
            </dict>
            <key>logon_sp_logo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1188},{746,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{746,116}}</string>
                <key>sourceSize</key>
                <string>{746,116}</string>
            </dict>
            <key>notice_btn_send_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,712},{164,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,64}}</string>
                <key>sourceSize</key>
                <string>{164,64}</string>
            </dict>
            <key>notice_btn_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1978},{164,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,64}}</string>
                <key>sourceSize</key>
                <string>{164,64}</string>
            </dict>
            <key>notice_sp_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{1032,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,533}}</string>
                <key>sourceSize</key>
                <string>{1032,533}</string>
            </dict>
            <key>notice_sp_bgline.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,628},{800,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,12}}</string>
                <key>sourceSize</key>
                <string>{800,12}</string>
            </dict>
            <key>notice_sp_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,628},{976,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,75}}</string>
                <key>sourceSize</key>
                <string>{976,75}</string>
            </dict>
            <key>notice_sp_cellbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1659},{250,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,36}}</string>
                <key>sourceSize</key>
                <string>{250,36}</string>
            </dict>
            <key>notice_sp_cellbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1662},{250,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,36}}</string>
                <key>sourceSize</key>
                <string>{250,36}</string>
            </dict>
            <key>notice_sp_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1849},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>notice_sp_editbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,628},{837,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,59}}</string>
                <key>sourceSize</key>
                <string>{837,59}</string>
            </dict>
            <key>notice_sp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,1723},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>notice_sp_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,1572},{149,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,36}}</string>
                <key>sourceSize</key>
                <string>{149,36}</string>
            </dict>
            <key>notice_sp_trumpetflag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1659},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,29}</string>
            </dict>
            <key>notice_sp_trumpetuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1662},{185,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,21}}</string>
                <key>sourceSize</key>
                <string>{185,21}</string>
            </dict>
            <key>optin_sp_headbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1659},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>option_btn_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,636},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>option_btn_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,636},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>option_btn_lock_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1555},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>option_btn_lock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,1707},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>option_btn_service_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,1496},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>option_btn_service_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,1306},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>option_btn_switch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1851},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>option_btn_switch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1474},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>option_sp_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,2},{632,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,419}}</string>
                <key>sourceSize</key>
                <string>{632,419}</string>
            </dict>
            <key>option_sp_cell_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1306},{614,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,84}}</string>
                <key>sourceSize</key>
                <string>{614,84}</string>
            </dict>
            <key>option_sp_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1294},{116,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,49}}</string>
                <key>sourceSize</key>
                <string>{116,49}</string>
            </dict>
            <key>option_sp_locktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,1850},{167,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,41}}</string>
                <key>sourceSize</key>
                <string>{167,41}</string>
            </dict>
            <key>option_sp_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1914},{116,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,49}}</string>
                <key>sourceSize</key>
                <string>{116,49}</string>
            </dict>
            <key>option_sp_nickbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1474},{203,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,44}}</string>
                <key>sourceSize</key>
                <string>{203,44}</string>
            </dict>
            <key>option_sp_sliderbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,1809},{449,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,39}}</string>
                <key>sourceSize</key>
                <string>{449,39}</string>
            </dict>
            <key>option_sp_sliderbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1392},{436,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,27}}</string>
                <key>sourceSize</key>
                <string>{436,27}</string>
            </dict>
            <key>option_sp_sliderthumb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,913},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>option_sp_sliderthumb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,703},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>option_sp_slience.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1122},{170,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,49}}</string>
                <key>sourceSize</key>
                <string>{170,49}</string>
            </dict>
            <key>option_sp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,1911},{83,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,41}}</string>
                <key>sourceSize</key>
                <string>{83,41}</string>
            </dict>
            <key>option_switch_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,712},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,64}</string>
            </dict>
            <key>option_switch_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,1572},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,64}</string>
            </dict>
            <key>option_switch_open_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,1555},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,64}</string>
            </dict>
            <key>option_switch_open_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,1707},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,64}</string>
            </dict>
            <key>service_sp_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1430},{810,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{810,123}}</string>
                <key>sourceSize</key>
                <string>{810,123}</string>
            </dict>
            <key>service_sp_cellbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,1911},{449,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,112}}</string>
                <key>sourceSize</key>
                <string>{449,112}</string>
            </dict>
            <key>service_sp_celltitle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1662},{333,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,36}}</string>
                <key>sourceSize</key>
                <string>{333,36}</string>
            </dict>
            <key>service_sp_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1555},{490,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,44}}</string>
                <key>sourceSize</key>
                <string>{490,44}</string>
            </dict>
            <key>service_sp_qrbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1781},{247,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,248}}</string>
                <key>sourceSize</key>
                <string>{247,248}</string>
            </dict>
            <key>service_sp_scantips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1659},{190,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,36}}</string>
                <key>sourceSize</key>
                <string>{190,36}</string>
            </dict>
            <key>service_sp_server_tel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1850},{75,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,54}}</string>
                <key>sourceSize</key>
                <string>{75,54}</string>
            </dict>
            <key>service_sp_service_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,965},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>service_sp_service_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,636},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>service_sp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1392},{148,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>ucenter_btn_charge_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,826},{85,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,65}</string>
            </dict>
            <key>ucenter_btn_charge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,878},{85,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,65}</string>
            </dict>
            <key>ucenter_btn_copy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1971},{85,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,65}</string>
            </dict>
            <key>ucenter_btn_copy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1606},{85,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,65}}</string>
                <key>sourceSize</key>
                <string>{85,65}</string>
            </dict>
            <key>ucenter_btn_identify_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1850},{69,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,53}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
            <key>ucenter_btn_identify_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,1850},{69,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,53}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
            <key>ucenter_btn_modifynick_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,1659},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>ucenter_sp_diamondbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,1572},{445,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,56}}</string>
                <key>sourceSize</key>
                <string>{445,56}</string>
            </dict>
            <key>ucenter_sp_editbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,628},{844,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,134}}</string>
                <key>sourceSize</key>
                <string>{844,134}</string>
            </dict>
            <key>ucenter_sp_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1659},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ucenter_sp_idicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1664},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>ucenter_sp_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1694},{1074,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1074,11}}</string>
                <key>sourceSize</key>
                <string>{1074,11}</string>
            </dict>
            <key>ucenter_sp_nickbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,628},{492,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,55}}</string>
                <key>sourceSize</key>
                <string>{492,55}</string>
            </dict>
            <key>ucenter_sp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1467},{168,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,41}}</string>
                <key>sourceSize</key>
                <string>{168,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>client_res_part_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73c917248e1f1cef7868e0f632d46684$</string>
            <key>textureFileName</key>
            <string>client_res_part_1.png</string>
        </dict>
    </dict>
</plist>
