<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dongnv135.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv013_1.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv000.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv101.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv001.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv136.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnvp105.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv145.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>284</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv142.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv130.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>196</integer>
				<key>x</key>
				<integer>401</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv146.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>524</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv143.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>690</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv002.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>13</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv004.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>754</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv005.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>819</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv007.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>880</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv006.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>904</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv010.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>951</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv008.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv012.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>99</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv009.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv011.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv013.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv017.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv014.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>13</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv016.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>507</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv015.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>575</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv119.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>628</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv121.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>706</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv124.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>876</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv122.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv123.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>woman201.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>253</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>253</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv127.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv125.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv126.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv128.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>874</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnvf001.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnvf003.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnvf002.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>207</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnvf004.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>280</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnvf005.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>197</integer>
				<key>x</key>
				<integer>351</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnvf006.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>445</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnvp200.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>187</integer>
				<key>originalHeight</key>
				<integer>183</integer>
				<key>x</key>
				<integer>535</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongnv134.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>228</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>meinv0.png</string>
			<key>realTextureFileName</key>
			<string>meinv0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>